/* CSS */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 1.25em; /* Увеличиваем размер шрифта на 25% */
  margin-top: 10px;
}

input {
  width: 120%; /* Увеличиваем ширину на 20% */
  padding: 10px;
  margin-top: 10px;
  border-radius: 0; /* Делаем инпуты квадратными */
}
